@import './reset';
@import './variables';
@import './components/index';
@import './partials/index';
@import './responsive';
@import './hacked';

body {
  background-color: #116FFF;
  .header {
    color: #113D45;
    font-size: 14px;
  }
}